# https://wiki.archlinux.org/title/Sudo#Passing_aliases
alias sudo='sudo GTK_THEME=Adwaita:dark '
alias e='systemctl --failed --no-pager && journalctl -p 3 -b'
alias cls='clear'
alias u='sudo pacman -Syu'
alias uu='yay -Syu'
alias i='sudo pacman -S --needed'
alias ii='yay -S --needed'
alias s='pacman -Ss'
alias ss='yay -Ss'
alias r='sudo pacman -Rns'
alias rr='yay -Rns'
alias b='pacman -Qqen > pkglist.txt && echo >> pkglist.txt && pacman -Qm >> pkglist.txt && echo >> pkglist.txt'
alias c='paccache -r && yay -Yc && yay -Sc && yay -Rns $(yay -Qtdq)'
alias x='exit'
alias {gte,gted}='gnome-text-editor'
alias nf='neofetch'
alias ff='fastfetch'
alias sf='screenfetch'
alias pacdiff='DIFFPROG=meld pacdiff'

alias ua-drop-caches='sudo paccache -rk1; yay -Sc --aur --noconfirm'
alias ua-rate='sudo true; \
       rate-mirrors --entry-country IN arch --max-delay=900 | sudo tee /etc/pacman.d/mirrorlist \
    && rate-mirrors --entry-country IN chaotic-aur | sudo tee /etc/pacman.d/chaotic-mirrorlist \
    && ua-drop-caches && yay -Syyu --noconfirm'

