alias e='systemctl --failed --no-pager && journalctl -p 3 -b'
alias cls='clear'
alias u='sudo nala update && sudo nala upgrade'
alias uu='sudo apt update && sudo apt full-upgrade'
alias i='sudo nala install'
alias ii='sudo apt install'
alias s='nala search'
alias ss='apt search'
alias r='sudo nala remove --purge'
alias rr='sudo apt autoremove --purge'
alias c='sudo nala autoremove && sudo nala autopurge && sudo nala clean'
alias cc='sudo apt autoremove && sudo apt autopurge && sudo apt clean'
alias x='exit'
